div.docu-bg-contenedor {
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url('../imgs/section/path-icon-transparent-1.png');
    background-repeat: no-repeat;
    background-position: center bottom -100px;
    position: relative;
}

section.documento {
    margin: 0 auto;
    padding: 3rem 0;
    max-width: 800px;
    height: auto;
}

section.documento h1 {
    text-align: center;
    margin-bottom: 2rem;
}

/* // preguntas frecuentes  */

section.documento .pregunta-contenedor {
    border: 1px solid var(--main-rojo);
    border-radius: 20px;
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.75);
}

section.documento .pregunta {
    margin-top: 1rem;
}

section.documento .pregunta:last-child {
    margin-bottom: 1rem;
}

section.documento .pregunta .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

section.documento .pregunta .titulo .preguntaActiva {
    color: var(--main-rojo);
    font-weight: bold;
}

section.documento .pregunta .titulo img {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

section.documento .respuesta {
    border-bottom: 1px solid var(--border-color);
    font-size: 0.9rem;
    padding: 10px 0 1rem 0;
    background: var(--blanco);
    display: none;
}

section.documento .respuesta p.titulo {
    font-weight: bold;
    margin-bottom: 5px;
}

section.documento .respuesta p.texto {
    font-size: 0.8rem;
    text-align: left;
}