@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

:root {
    --blanco: #fff;
    --font-color: #333;
    --main-rojo: #F64747;
    --border-color: #C9C9C9;
    --light-gris: rgb(230, 230, 230);
    --dark-gris: #aaaaaa;
    --point-naranja: #f0a721;
    /* --width: 1366px; */
    --point-morado: #a157e3;
    --shadow: rgba(172, 90, 90, 0.15);
    --roboto: 'Roboto', Arial, sans-serif;
    --montserrat: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6;
    outline: none;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--roboto);
    line-height: 1.6;
    color: rgb(24, 24, 24);
}

/* // pantalla */

.dashboard-contenedor {
    display: flex;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    /* position: relative; */
}

/* #################################### header, parte logo, perfil */

header.dshboard-header {
    width: 20%;
    min-width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
}

header .logo-perfil {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem 0 1rem 0;
    /* background-image: url(../../imgs/section/path-icon-transparent-1.png);
    background-position: center;
    background-size: cover; */
}

header .logo {
    margin-bottom: 1rem;
}

header .logo a {
    font-family: var(--montserrat);
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--main-rojo);
}

header .perfil-foto {
    width: 80px;
    height: 80px;
    position: relative;
}

header .perfil-foto img {
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    border-radius: 50%;
}

header .perfil-foto .configuracion-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: var(--point-naranja);
    right: 0;
    bottom: 0;
    padding: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
}

header .perfil-foto .configuracion-icon a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

header .perfil-foto .configuracion-icon img {
    border: 0;
    box-shadow: none;
}

header .perfil-foto .configuracion-icon a:hover {
    transform: rotate(45deg);
}


header .mobile-menubar {
    display: none;
}

header .userNombre {
    text-align: center;
}

header .userNombre p.nombre {
    font-weight: bold;
    font-size: 1.1rem;
}

header .userNombre a.cerrarSesion {
    font-size: 0.8rem;
    color: var(--dark-gris);
}


/* header ######################## nav bar */

nav.dshboard-nav {
    padding: 2rem 0;
    height: 100%;
}

nav ul {
    width: 100%;
}

nav ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0.5rem 0 0.5rem 3rem;
    color: var(--dark-gris);
    font-size: 0.9rem;
}

nav ul li:hover {
    color: var(--main-rojo);
    background: var(--light-gris);
}

nav ul li svg {
    width: 17px;
    height: 17px;
    margin-right: 0.5rem;
    fill: var(--dark-gris);
}

nav ul li:hover svg {
    fill: var(--main-rojo);
}

nav ul li.menu-active {
    color: var(--main-rojo);
    background: var(--light-gris);
}

nav ul li.menu-active svg {
    fill: var(--main-rojo);
}

nav ul li span.alarma-mensajes {
    padding: 0 5px;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--point-morado);
    color: var(--blanco);
    margin-left: 10px;
    border-radius: 50%;
}



/* header ########################## ayuda info */

header .ayuda-info {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2rem;
}

header .ayuda-info .linea-roja {
    width: 50%;
    height: 3px;
    background: var(--main-rojo);
    margin: 0 auto 1rem auto;
}

header .ayuda-info p, a {
    font-size: 0.8rem;
}

header .ayuda-info a {
    text-decoration: none;
    color: var(--dark-gris);
}

header .ayuda-info a:hover {
    color: var(--main-rojo);
}



/* ################################# main section CSS */

section.dashboard-info-contenedor {
    background: var(--light-gris);
    /* width: calc(100vw - 250px); */
    width: 80%;
    max-width: 1920px;
    height: 100%;
    min-height: 100vh;
    padding: 2rem;
    position: relative;
}

/* dashboard(inicio) - titulo */

section div.arriba {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

section .arriba p.saludar {
    font-size: 1.1rem;
}

a.nueva-oferta, button.nuevo-mensaje {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    background: var(--main-rojo);
    border-radius: 25px;
}

a.nueva-oferta img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

a.nueva-oferta:hover,
button.nuevo-mensaje:hover {
    box-shadow: 0 3px 6px var(--shadow);
}


/* dashboard(inicio) - oferta y eventos */

section .dash-oferta {
    width: 100%;
    background: var(--blanco);
    padding: 1rem;
    box-shadow: 0 3px 6px var(--shadow);
    margin-bottom: 1rem;
}

section .dash-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

a.titulo-enlace {
    font-family: var(--montserrat);
    color: var(--font-color);
    font-size: 0.9rem;
}

a.icon-enlace div.ir-pagina {
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--main-rojo);
    border-right: 2px solid var(--main-rojo);
    transform: rotate(45deg);
}

/* dashboard - negocio - targetas */

.dash-oferta-tarjetas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
    flex-wrap: wrap;
}

.dash-oferta-tarjetas button {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0;
    /* background: transparent; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash-oferta-tarjetas button.slide-left {
    left: 0;
}

.dash-oferta-tarjetas button.slide-right {
    right: 0;
}

.dash-oferta-tarjetas:hover button {
    opacity: 1;
}
/* 
.dash-oferta-tarjetas button.slide-left::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    transform: rotate(-45deg);
    top: 11px;
    left: 14px;
}

.dash-oferta-tarjetas button.slide-right::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-right: 2px solid white;
    border-top: 2px solid white;
    transform: rotate(45deg);
    top: 11px;
    right: 14px;
} */




.dash-oferta-tarjetas .targeta {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    min-width: 230px;
    height: auto;
    border: 1px solid var(--light-gris);
    border-radius: 10px;
    margin: 0 1.5rem 1.5rem 0;
}

.dash-oferta-tarjetas .targeta:last-child {
    margin-right: 0;
}

.dash-oferta-tarjetas .targeta img.targeta-foto {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.dash-oferta-tarjetas .targeta .targeta-info {
    padding: 5px 10px;
}

.targeta .targeta-info h4.targeta-nombre {
    font-family: var(--montserrat);
    margin-bottom: 5px;
}

.targeta-info p.fecha-oferta {
    color: var(--main-rojo);
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.targeta-info p.fecha-oferta img {
    width: 15px;
    height: auto;
    margin-right: 5px;
}

.targeta-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
}


.targeta-bottom-izq,
.targeta-bottom-izq .likes,
.targeta-bottom-izq .comentarios {
    display: flex;
    align-items: center;
}

.targeta-bottom-izq .likes img,
.targeta-bottom-izq .comentarios img {
    width: 16px;
    height: auto;
    margin-right: 3px;
    
}

.targeta-bottom-izq .likes {
    margin-right: 0.5rem;
}

.targeta-bottom-der p.precio {
    font-size: 0.9rem;
    font-weight: bold;
}

.targeta-bottom-der p.precio span {
    font-size: 0.7rem;
    color: var(--dark-gris);
    font-weight: normal;
}


/* ################## otras informaciones - contenedor */

.dash-caja-contenedor {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dash-caja-contenedor .dash-mensajes,
.dash-caja-contenedor .dash-estedistica {
    width: 49%;
    background: var(--blanco);
    padding: 1rem;
    box-shadow: 0 3px 6px var(--shadow);
    margin-bottom: 1rem;
}



/* ################## pagina inicio - mensajes nuevos */

.mensaje {
    border: 1px solid var(--light-gris);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background: #fff;
}

.mensaje:last-child {
    margin-bottom: 0;
}

.mensaje .foto-contenedor {
    max-width: 80px;
    height: 80px;
    flex: 1;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mensaje .foto-contenedor .mensaje-foto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}

.mensaje .foto-contenedor .offline,
.mensaje .foto-contenedor .online {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    right: 10px;
    bottom: 10px;
}

.mensaje .foto-contenedor .offline {
    background: var(--dark-gris);
}

.mensaje .foto-contenedor .online {
    background: #54da54;
}

.mensaje .mensaje-datos-contenedor {
    flex: 4;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}

.mensaje .mensaje-datos-contenedor .mensaje-datos {
    display: flex;
    justify-content: space-between;
}

.mensaje .mensaje-datos-contenedor .mensaje-datos p.mensaje-nombre {
    font-family: var(--montserrat);
    font-size: 0.8rem;
    font-weight: bold;
}

.mensaje .mensaje-datos-contenedor .mensaje-datos p.mensaje-nuevo::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 0.5rem;
    background: var(--point-morado);
    display: inline-block;
}

.mensaje .mensaje-datos-contenedor .mensaje-datos span.mensaje-timestamp {
    font-size: 0.6rem;
    color: var(--dark-gris);
}

.mensaje .mensaje-datos-contenedor .mensaje-texto {
    font-size: 0.7rem;
}



/* ################## estedistica CSS */

.dash-estedistica .chart-period {
    font-size: 0.9rem;
}

.dash-estedistica .chart-period span {
    font-size: 0.7rem;
}

.dash-estedistica .chart-grafico {
    width: 100%;
    margin: 0.5rem 0;
}

.dash-estedistica .chart-total-info {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash-estedistica .chart-total-info div {
    border: 1px solid var(--light-gris);
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash-estedistica .chart-total-info img {
    width: 25px;
    height: 20px;
    margin-right: 10px;
}



/* ################################## css- pagina Negocio */

section.dashboard-negocio {
    width: 100%;
    height: auto;
    background: var(--light-gris);
}

.portada-contenedor {
    margin-bottom: 1rem;
    width: 100%;
    height: 320px;
}

.portada-contenedor img.portada {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.negocio-dato-contenedor {
    width: 70%;
    min-width: 960px;
    margin: -96px auto 0 auto;
    padding: 0 2rem;
}

.negocio-dato-contenedor .dato-header {
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
}

.negocio-nombre {
    display: flex;
    align-items: baseline;
}

.negocio-dato-contenedor img.foto-logo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 0 3px 6px var(--shadow);
    margin-right: 1rem;
}

.negocio-nombre h2 {
    margin-right: 1rem;
}

.negocio-nombre span.negocio-categoria {
    font-size: 0.9rem;
}

.negocio-nombre span.negocio-categoria::before {
    content: '|';
    margin-right: 0.5rem;
}

.negocio-desc {
    font-size: 0.9rem;
    margin: 2rem 0;
}

.negocio-info {
    border-left: 4px solid var(--main-rojo);
    padding-left: 2rem;
    margin-bottom: 2rem;
    font-size: 0.85rem;
}

.negocio-info .info-label {
    font-weight: bold;
    margin-right: 0.5rem;
}

.negocio-dato-contenedor .botones {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2.5rem;
}

.negocio-dato-contenedor .botones .editar-perfil {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    background: var(--point-naranja);
    border-radius: 25px;
    margin-right: 1rem;
}

.negocio-dato-contenedor .botones .editar-perfil img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.negocio-dato-contenedor .botones .editar-perfil:hover {
    box-shadow: 0 3px 6px var(--shadow);
}


.negocio-dato-contenedor .negocio-galaria {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 3rem;
}

.negocio-dato-contenedor .negocio-galaria img {
    margin-right: 1rem;
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.negocio-dato-contenedor .negocio-galaria img:last-child {
    margin-right: 0;
}


.negocio-dato-contenedor .dato-header .negocio-likes img {
    width: 15px;
    height: 15px;
}

.negocio-dato-contenedor .botones a.editar-perfil img {
    width: 15px;
    height: 15px;
}


/* ################################# CSS - oferta y evento  */

.arriba p.menu-titulo {
    font-family: var(--montserrat);
}

.optionDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.optionDiv figure {
    display: flex;
    align-items: center;
}

.optionDiv figure svg.opcion-vista {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 5px;
    fill: var(--dark-gris);
}

.optionDiv figure svg.opcion-vista-actual {
    fill: var(--font-color);
}

.optionDiv figure svg:hover {
    fill: var(--font-color);
}

.optionDiv .buscar,
.optionDiv .option-vista {
    margin-right: 0.5rem;
}

.optionDiv .buscar {
    display: flex;
    position: relative;
}

.optionDiv .buscar input {
    width: 250px;
    padding: 5px 10px;
    border: 1px solid var(--dark-gris);
    border-radius: 20px;
}

.optionDiv .buscar img {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
}

.optionDiv img.boton-anadir {
    width: 24px;
    height: 24px;
    margin-left: 0.5rem;
}

.optionDiv .buscar input:focus {
    border: 1px solid var(--main-rojo);
}

/* parte oferta: tarjatas (galaria) */

div.ofertas-contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

div.ofertas-contenedor .oferta-tarjeta {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 250px;
    height: auto;
    border: 1px solid var(--light-gris);
    border-radius: 10px;
    margin: 0 1.5rem 1.5rem 0;
    background: #fff;
    box-shadow: 0 3px 6px var(--shadow);
}

.oferta-tarjeta .parte-img {
    position: relative;
}

.oferta-tarjeta .parte-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.oferta-tarjeta .parte-img .menu-rapido-contenedor {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.oferta-tarjeta .parte-img .menu-rapido-contenedor .caja-puntos {
    /* border: 1px solid blue; */
    width: 15px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.oferta-tarjeta .parte-img .menu-rapido-contenedor .puntos {
    width: 5px;
    height: auto;
    margin-bottom: 8px;
}

.menu-rapido-contenedor .menu-rapido {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 1;
}

.menu-rapido-contenedor .menu-rapido .menu-rapido-icon {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 8px;
    box-shadow: 0 3px 6px var(--shadow);
    transition: background 0.2s;
    cursor: pointer;
    transform: translateY(-160px);
}

.menu-rapido-contenedor .menu-rapido .menu-rapido-icon:hover {
    background: #fff;
}

.menu-rapido-contenedor .menu-rapido .menu-rapido-icon img {
    width: 24px;
    height: auto;
}


.oferta-tarjeta .oferta-info-contenedor {
    padding: 5px 10px;
}

.oferta-info-contenedor .oferta-nombre {
    margin-bottom: 10px;
}

.oferta-info-contenedor .oferta-nombre a {
    color: var(--font-color);
    font-size: 1rem;
    font-family: var(--montserrat);
}

.oferta-info-contenedor .oferta-nombre a:hover {
    color: var(--dark-gris);
}

.oferta-info-contenedor .oferta-nombre p {
    font-size: 0.8rem;
}

.oferta-info-contenedor .oferta-fecha-contenedor {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.oferta-info-contenedor .oferta-fecha-contenedor img {
    width: 15px;
    height: auto;
    margin-right: 5px;
}

.oferta-info-contenedor .oferta-fecha-contenedor p.oferta-fecha {
    color: var(--main-rojo);
    font-weight: bold;
}

.oferta-info-contenedor p.oferta-descripcion {
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.oferta-info-contenedor .oferta-abajo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.oferta-info-contenedor .oferta-abajo .likes-coment {
    display: flex;
    align-items: center;
}

.oferta-info-contenedor .oferta-abajo .likes-coment img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.oferta-info-contenedor .oferta-abajo .likes-coment span {
    margin-right: 8px;
}

.oferta-info-contenedor .oferta-abajo .precio,
.oferta-abajo-lista .info-numero .precio {
    font-weight: bold;
}

.oferta-info-contenedor .oferta-abajo .precio span,
.oferta-abajo-lista .info-numero .precio span {
    font-size: 0.8rem;
    color: var(--dark-gris);
    font-weight: normal;
}


/* %%%%% oferta - vista (version lista) css */

div.oferta-tarjeta-lista-contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.oferta-tarjeta-lista {
    width: 100%;
    height: 180px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    margin-bottom: 1rem;
    position: relative;
}

/* menu rapido */

.menu-rapido-contenedor-lista {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
}

.menu-rapido-contenedor-lista .caja-puntos-lista {
    display: flex;
    align-items: center;
    width: 30px;
    height: auto;
    cursor: pointer;
}

.menu-rapido-contenedor-lista .puntos-lista {
    width: 5px;
    height: auto;
}

.menu-rapido-contenedor-lista .menu-rapido-lista {
    width: 120px;
    display: flex;
    overflow: hidden;
}

.menu-rapido-contenedor-lista .menu-rapido-icon {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 4px;
    box-shadow: 0 3px 6px var(--shadow);
    transition: background 0.2s;
    cursor: pointer;
    transform: translateX(160px);
}

.menu-rapido-contenedor-lista .menu-rapido-icon:hover {
    background: #fff;
}

.menu-rapido-contenedor-lista .menu-rapido-icon img {
    width: 24px;
    height: auto;
}








.oferta-tarjeta-lista .oferta-lista-img {
    width: 250px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.oferta-info-contenedor-lista {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 3px 6px var(--shadow);
}

.oferta-info-contenedor-lista .oferta-nombre-lista {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.5rem;
}

.oferta-info-contenedor-lista .oferta-nombre-lista h3 {
    font-size: 1.2rem;
    color: var(--font-color);
    font-family: var(--montserrat);
    margin-right: 1.5rem;
}

.oferta-info-contenedor-lista .oferta-nombre-lista p {
    font-size: 0.8rem;
}

.oferta-fecha-contenedor-lista {
    display: flex;
    margin-bottom: 0.5rem;
}

.oferta-fecha-contenedor-lista img {
    width: 15px;
    height: auto;
    margin-right: 5px;
}

.oferta-fecha-contenedor-lista .oferta-fecha {
    color: var(--main-rojo);
    font-weight: bold;
}


.oferta-descripcion {
    font-size: 0.9rem;
    flex: 2;
}

.info-numero {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.info-numero img {
    width: 20px;
    height: auto;
    /* margin-right: 5px; */
}

.info-numero .likes-coment {
    display: flex;
    align-items: center;
}

.info-numero .likes-coment * {
    margin-left: 5px;
}

.info-numero .precio {
    font-weight: bold;
}

.info-numero .precio span {
    font-size: 0.8rem;
    color: var(--dark-gris);
    font-weight: normal;
}


/* TODO: Mensajes page */