@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

:root {
    --blanco: #fff;
    --font-color: #333;
    --main-rojo: #F64747;
    --border-color: #C9C9C9;
    --light-gris: rgb(245, 245, 245);
    --dark-gris: rgb(170, 170, 170);
    --point-naranja: rgb(240, 167, 33);
    /* --width: 1366px; */
    --point-morado: #a157e3;
    --shadow: rgba(172, 90, 90, 0.15);
    --roboto: 'Roboto', Arial, sans-serif;
    --montserrat: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--roboto);
    line-height: 1.6;
    color: rgb(24, 24, 24);
}

/* // pantalla */

.dashboard-contenedor {
    display: flex;
    width: 100%;
    height: 100%;
}

/* #################################### header, parte logo, perfil */

header.dshboard-header {
    width: 20%;
    min-width: 250px;
    height: 100vh;

}

header .logo-perfil {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem 0 1rem 0;
    /* background-image: url(../../imgs/section/path-icon-transparent-1.png);
    background-position: center;
    background-size: cover; */
}

header .logo {
    margin-bottom: 1rem;
}

header .logo a {
    font-family: var(--montserrat);
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--main-rojo);
}

header .perfil-foto {
    width: 80px;
    height: 80px;
    position: relative;
}

header .perfil-foto img {
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    border-radius: 50%;
}

header .perfil-foto .configuracion-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: var(--point-naranja);
    right: 0;
    bottom: 0;
    padding: 5px;
}

header .perfil-foto .configuracion-icon svg {
    stroke: #fff;
}

header .mobile-menubar {
    display: none;
}

header .userNombre {
    text-align: center;
}

header .userNombre p.nombre {
    font-weight: bold;
    font-size: 1.1rem;
}

header .userNombre a.cerrarSesion {
    font-size: 0.8rem;
    color: var(--dark-gris);
}


/* header ######################## nav bar */

nav.dshboard-nav {
    padding: 2rem 0;
}

nav ul {
    width: 100%;
}

nav ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0.5rem 0 0.5rem 3rem;
    color: var(--dark-gris);
    font-size: 0.9rem;
}

nav ul li:hover {
    color: var(--main-rojo);
    background: var(--light-gris);
}

nav ul li svg {
    width: 17px;
    height: 17px;
    stroke: var(--dark-gris);
    margin-right: 0.5rem;
}

nav ul li:hover svg {
    stroke: var(--main-rojo);
}

nav ul li.menu-active {
    color: var(--main-rojo);
    background: var(--light-gris);
}

nav ul li.menu-active svg {
    stroke: var(--main-rojo);
}

nav ul li span.alarma-mensajes {
    padding: 0 5px;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--point-morado);
    color: var(--blanco);
    margin-left: 10px;
    border-radius: 50%;
}



/* header ########################## ayuda info */

header .ayuda-info {
    width: 100%;
    text-align: center;
}

header .ayuda-info .linea-roja {
    width: 50%;
    height: 3px;
    background: var(--main-rojo);
    margin: 0 auto 1rem auto;
}

header .ayuda-info p, a {
    font-size: 0.8rem;
}

header .ayuda-info a {
    text-decoration: none;
    color: var(--dark-gris);
}

header .ayuda-info a:hover {
    color: var(--main-rojo);
}



/* ################################# main section CSS */

section.dashboard-info-contenedor {
    background: var(--light-gris);
    /* width: calc(100vw - 300px); */
    width: 100%;
    height: 100%;
    padding: 2rem;
}

/* dashboard(inicio) - titulo */

section div.arriba {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

section .arriba p.saludar {
    font-size: 1.1rem;
}

a.nueva-oferta {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    background: var(--main-rojo);
    border-radius: 25px;
}

a.nueva-oferta img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

a.nueva-oferta:hover {
    box-shadow: 0 3px 6px var(--shadow);
}


/* dashboard(inicio) - negocio */

section .dash-negocio {
    width: 100%;
    background: var(--blanco);
    padding: 1rem;
    box-shadow: 0 3px 6px var(--shadow);
    margin-bottom: 1rem;
}

section .dash-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

a.titulo-enlace {
    font-family: var(--montserrat);
    color: var(--font-color);
    font-size: 0.9rem;
}

a.icon-enlace div.ir-pagina {
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--main-rojo);
    border-right: 2px solid var(--main-rojo);
    transform: rotate(45deg);
}

/* dashboard - negocio - targetas */

.dash-negocio-tarjetas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash-negocio-tarjetas .targeta {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-right: 1rem;
}

.dash-negocio-tarjetas .targeta:last-child {
    margin-right: 0;
}

.dash-negocio-tarjetas .targeta img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.dash-negocio-tarjetas .targeta .targeta-info {
    padding: 5px 10px;
}

.targeta .targeta-info h4.targeta-nombre {
    font-family: var(--montserrat);
    margin-bottom: 5px;
}

.targeta-info p.fecha-oferta {
    color: var(--main-rojo);
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.targeta-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
}


.targeta-bottom-izq,
.targeta-bottom-izq .likes,
.targeta-bottom-izq .comentarios {
    display: flex;
    align-items: center;
}

.targeta-bottom-izq .likes img,
.targeta-bottom-izq .comentarios img {
    width: 14px;
    height: 14px;
    margin-right: 3px;
}

.targeta-bottom-izq .likes {
    margin-right: 5px;
}

.targeta-bottom-der p.precio {
    font-size: 0.9rem;
    font-weight: bold;
}

.targeta-bottom-der p.precio span {
    font-size: 0.7rem;
    color: var(--dark-gris);
    font-weight: normal;
}


/* ################## otras informaciones - contenedor */

.dash-caja-contenedor {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dash-caja-contenedor .dash-mensajes,
.dash-caja-contenedor .dash-estedistica {
    width: 48%;
    background: var(--blanco);
    padding: 1rem;
    box-shadow: 0 3px 6px var(--shadow);
    margin-bottom: 1rem;
}







